.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.results{
  margin-bottom: 1rem;
}

.right-align{
  background-color: #4d4c4f;
  font-weight: 200;
  color: white;
  padding: 0 0.2rem;
  margin-right: 0.2rem;
}
.details-row{
  font-size: 0.8rem;
  margin: 0.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uk-card-default .uk-card-title {
    color: #fff;
}
